$header-height: 100px;

.home-container {
    width: 100%;
    height: 100%;

    .header-container {
        width: 100%;
        height: $header-height;
        background-color: #29763d;
        color: white;
        padding: 0 10px;

        .title {
            font-size: 30px;
            width: 300px;
        }

        .icon-container {
            width: auto;

            &:hover {
                color: red;
                font-weight: bolder;
            }
        }
    }

    .todo-container {
        width: 100%;
        height: auto;
        min-height: calc(100vh - #{$header-height});
        background-color: #80808038;

        .tab {
            width: 200px;
            height: 50px;
            margin-top: 20px;


            a {
                width: 100px;
                font-size: 25px;
                color: green;
                height: 100%;
                border-bottom: 1px solid gray;
                cursor: pointer;
                text-decoration: unset;

                &.active {
                    background-color: gray;
                    border-bottom: unset;
                    color: white;

                    &:first-child {
                        border-radius: 5px 0 0 5px;
                    }

                    &:last-child {
                        border-radius: 0 5px 5px 0;
                    }
                }
            }
        }
    }

}
