<div class="home-container" fxLayout="column">
	<div class="header-container" fxLayout="row" fxLayoutAlign="space-between center">
		<div class="title">TODO APP</div>
		<div class="icon-container" matTooltip="Disconnection"
			aria-label="Button that displays a tooltip when focused or hovered over">
			<span class="material-icons"> exit_to_app </span>
		</div>
	</div>
	<div class="todo-container" fxLayout="column" fxLayoutAlign="start center">
		<div class="tab" fxLayout="row" fxLayoutAlign="space-between center">
			<a class="list" fxLayoutAlign="center center" routerLink="/account/list" routerLinkActive="active">List</a>
			<a class="stats" fxLayoutAlign="center center" routerLink="/account/stats"
				routerLinkActive="active">Stats</a>
		</div>
		<router-outlet></router-outlet>
	</div>

</div>
