<div class="list-container" fxLayout="column" fxLayoutAlign="start center">
	<div class="creation-container" fxLayout="row" fxLayoutAlign="center center">
		<div class="list-input-container">
			<input type="text" placeholder="new Task" [formControl]="taskDescriton">
		</div>
		<div (click)="add()" class="list-btn-container" fxLayout="row" fxLayoutAlign="center center">
			ADD
		</div>

	</div>
	<div class="error-adding" *ngIf="messageWhenInvalidAdding">
		{{messageWhenInvalidAdding}}
	</div>

	<div class="item-container" fxLayout="column" fxLayoutAlign="center center">
		<div class="list-message-container" *ngIf="tasksList.length === 0; else displayList">
			{{messageWhenNoTask}}
		</div>

		<ng-template #displayList>
			<div class="task-container" *ngFor="let task of tasksList" fxLayout="row"
				fxLayoutAlign="space-between start">
				<span class="list-task-descrition" fxLayout="row" fxLayoutAlign="start center"> {{task.description}}
				</span>
				<div class="action" fxLayout="row" fxLayoutAlign="space-between center">
					<mat-icon class="list-icon-delete" (click)="deleteTask(task.id)" matSuffix>clear</mat-icon>
					<mat-icon class="list-icon-edit" (click)="editTask(task.id)" matSuffix>edit</mat-icon>
				</div>
			</div>

		</ng-template>

		<div class="list-footer-container" fxLayout="row" fxLayoutAlign="end center">
			<div (click)="deleteAll()" class="list-btn-clear" fxLayout="row" fxLayoutAlign="center center">
				Clear
			</div>
		</div>

	</div>
</div>
