<div class="login-container" fxLayout="row" fxLayoutAlign="center center">
	<form [formGroup]="logInForm" class="login-form" fxLayoutAlign="center" fxLayout="column" fxLayoutGap="30px"
		(ngSubmit)="onSubmit()">
		<div class="form-control">
			<mat-form-field appearance="fill">
				<mat-label>Email</mat-label>
				<input matInput placeholder="email" formControlName="email">
				<mat-icon matSuffix>email</mat-icon>
				<mat-error *ngIf="logInForm.controls.email.invalid">Email invalid</mat-error>
			</mat-form-field>
		</div>

		<div class="form-control">
			<mat-form-field appearance="fill">
				<mat-label>Password</mat-label>
				<input matInput placeholder="password" type="password" formControlName="password">
				<mat-icon matSuffix>vpn_key</mat-icon>
				<mat-error *ngIf="logInForm.controls.password.invalid">Password invalid</mat-error>
			</mat-form-field>
		</div>

		<div class="form-control">
			<button type="submit" mat-flat-button color="primary" [disabled]="logInForm.invalid">Log</button>
		</div>
	</form>

</div>
