.stat-container {
    width: 100%;
    min-height: 100%;
    height: auto;
    padding-top: 40px;

    .stat-details-container {
        background-color: white;
        width: 800px;
        height: auto;
    }
}
